<!-- <nav style="justify-content: center; padding-top: 20px;" id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <h1>TYA ELECTION</h1>
		</nav> -->
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" href="#">
            <img src="../../public/images/election-icon.png" height="30" alt="" loading="lazy" />
        </a>
    </div>
    <!-- Container wrapper -->
</nav>