<nav style="margin-top: 10px;" id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a href="/" class="list-group-item list-group-item-action py-2 ripple <% if(page === 'dashboard'){ %>active<% } %>">
                <i class="fas fa-chart-area fa-fw me-3"></i><span>Dashboard</span>
            </a>
            <a href="/register" class="list-group-item list-group-item-action py-2 ripple <% if(page === 'register'){ %>active<% } %>"><i
      class="fas fa-lock fa-fw me-3"></i><span>Register</span></a>
            <a href="/vote" class="list-group-item list-group-item-action py-2 ripple <% if(page === 'vote'){ %>active<% } %>"><i
      class="fas fa-chart-line fa-fw me-3"></i><span>Vote</span></a>
            <a href="/election/create" class="list-group-item list-group-item-action py-2 ripple <% if(page === 'election'){ %>active<% } %>">
                <i class="fas fa-chart-pie fa-fw me-3"></i><span>Create Election</span>
            </a>
            <a href="/party/create" class="list-group-item list-group-item-action py-2 ripple <% if(page === 'party'){ %>active<% } %>">
                <i class="fas fa-chart-pie fa-fw me-3"></i><span>Create Party</span>
            </a>
            <a href="/position" class="list-group-item list-group-item-action py-2 ripple <% if(page === 'position'){ %>active<% } %>"><i
      class="fas fa-chart-bar fa-fw me-3"></i><span>Create Position</span></a>
            <a href="/contestant" class="list-group-item list-group-item-action py-2 ripple <% if(page === 'contestant'){ %>active<% } %>"><i
      class="fas fa-globe fa-fw me-3"></i><span>Create Contestant</span></a>
        </div>
    </div>
</nav>