<%- include('./layouts/head') -%>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/contestant.css" />
    </head>

    <body>
        <!--Main Navigation-->
        <header>
            <!-- Sidebar -->
            <%- include('./layouts/sidebar') -%>

                <!-- Navbar -->
                <%- include('./layouts/navbar') -%>
        </header>

        <!--Main layout-->
        <main style="margin-top: 70px ">
            <h1 class="mb-4" style="text-align: center;">Add Contestants</h1>
            <div class="container pt-2">
                <!--Section: Statistics with subtitles-->
                <section style="display: grid; justify-items: center;">
                    <form action="/contestant" onsubmit="return validateForm(event)" method="post" autocomplete="off">
                        <div class="mb-3">
                            <div class="form-outline">
                                <input type="text" name="first-name" id="first-name" class="form-control form-control-lg" required />
                                <label class="form-label" for="first-name">First Name</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-outline">
                                <input type="text" name="middle-name" id="middle-name" class="form-control form-control-lg" />
                                <label class="form-label" for="middle-name">Middle Name</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-outline">
                                <input type="text" name="last-name" id="last-name" class="form-control form-control-lg" required />
                                <label class="form-label" for="last-name">Last Name</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="visually-hidden" for="elections-dropdown">Preference</label>
                            <select class="custom-select" name="elections-dropdown" id="elections-dropdown" required>
                            <option value="">Select Election</option>
                        </select>
                        </div>

                        <div class="mb-3">
                            <label class="visually-hidden" for="positions-dropdown">Preference</label>
                            <select class="custom-select" name="positions-dropdown" id="positions-dropdown" required>
                            <option value="">Select Position</option>
                        </select>
                        </div>

                        <div class="mb-3">
                            <label class="visually-hidden" for="parties-dropdown">Preference</label>
                            <select class="custom-select" name="parties-dropdown" id="parties-dropdown" required>
                            <option value="">Select Party</option>
                        </select>
                        </div>

                        <!-- Upload file -->
                        <div class="mb-3">
                            <label class="form-label" for="contestant-img">Upload contestant's photo</label>
                            <input type="file" name="img" accept="image/*" class="form-control form-control-lg mb-3" id="contestant-img" required />
                        </div>

                        <!-- <label class="form-label" for="contestant-img-preview">Contestant's photo preview</label> -->
                        <div id="preview-section" class="mb-3">
                            <img id="img-preview" src="">
                            <h5 id="preview-text">PREVIEW</h5>
                        </div>
                        <!-- Submit button -->
                        <div class="mb-3">
                            <input type="submit" value="Add Contestant" id="add-contestant-btn" class="btn btn-primary btn-block btn-lg mb-4" disable>
                        </div>
                    </form>
                </section>
            </div>
        </main>

        <%- include('./layouts/scripts') -%>
            <script src="../public/js/contestant.js"></script>
    </body>

    </html>