<%- include('./layouts/head') -%>
    </head>

    <body>
        <!--Main Navigation-->
        <header>
            <!-- Sidebar -->
            <%- include('./layouts/sidebar') -%>

                <!-- Navbar -->
                <%- include('./layouts/navbar') -%>
        </header>

        <!--Main layout-->
        <main style="margin-top: 70px ">
            <h1 class="mb-4" style="text-align: center;">Create Election</h1>
            <div class="container pt-2">
                <section style="display: grid; justify-items: center;">

                    <!-- <form> -->
                    <div class="col-md-4 mb-3">
                        <div class="form-outline">
                            <input type="text" autocomplete="off" id="new-election-name" class="form-control form-control-lg" />
                            <label class="form-label" for="new-election-name">Election Title</label>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <div class="col-md-4 mb-3">
                        <button type="submit" id="create-election-btn" class="btn btn-primary btn-block btn-lg mb-4">Create</button>
                    </div>
                    <!-- </form> -->
                </section>

                <table class="table responsive">
                    <thead>
                        <th>#</th>
                        <th scope="col">Election</th>
                        <th scope="col">Action</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </main>

        <%- include('./layouts/scripts') -%>
            <script src="/public/js/election.js"></script>
    </body>

    </html>