<%- include('./layouts/head') -%>
    <!-- Added this style.css which has the style for bootstrap 4
    select because Bootstrap 5 select has a bug -->
    <link rel="stylesheet" href="/public/css/style.css" />
    </head>

    <body>

        <!--Main layout-->
        <main style="margin-top: 100px; padding-left: 0">
            <h1 class="mb-4" style="text-align: center;">Login</h1>

            <div class="container pt-2">
                <!--Section: Statistics with subtitles-->
                <section style="display: grid; justify-items: center;">

                    <form method="post" action="/login/form" style="width: 29vw;">
                        <div class="mb-3">
                            <div class="form-outline">
                                <input autocomplete="off" value="emmanuel@gmail.com" type="email" id="email" class="form-control form-control-lg" />
                                <label class="form-label" for="email">Email</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-outline">
                                <input type="password" value="secret" id="password" class="form-control form-control-lg" />
                                <label class="form-label" for="password">Password</label>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <div class="mb-3">
                            <article class="mb-2">
                                <a href="#">Forget Password</a>
                            </article>

                            <button id="login-btn" class="btn btn-primary btn-block btn-lg mb-4">Login</button>
                        </div>

                    </form>

                </section>
            </div>
        </main>

        <%- include('./layouts/scripts') -%>
            <script src="../public/js/auth/login.js"></script>
    </body>

    </html>