<%- include('./layouts/head') -%>
    </head>

    <body>
        <!--Main Navigation-->
        <header>
            <!-- Sidebar -->
            <%- include('./layouts/sidebar') -%>

                <!-- Navbar -->
                <%- include('./layouts/navbar') -%>
        </header>

        <!--Main layout-->
        <main style="margin-top: 70px ">
            <div class="container pt-4 ">
                <!--Section: Statistics with subtitles-->
                <section style="display: grid; justify-items: center;">
                    <h2>Voters Registration</h2>

                    <form>
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <!-- <div class="mb-4"> -->
                        <div class="col-sm-12 col-md-12 mb-3">
                            <div class="form-outline">
                                <input type="text" id="form3Example1" class="form-control" />
                                <label class="form-label" for="form3Example1">First Name</label>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-outline">
                                <input type="text" id="form3Example2" class="form-control" />
                                <label class="form-label" for="form3Example2">Middle Name</label>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-outline">
                                <input type="text" id="form3Example2" class="form-control" />
                                <label class="form-label" for="form3Example2">Last Name</label>
                            </div>
                        </div>
                        <!-- </div> -->

                        <!-- Upload file -->
                        <label class="form-label" for="customFile">Upload a photo</label>
                        <input type="file" name="img" accept="image/*" class="form-control mb-3" id="customFile" />

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
                    </form>
                </section>
            </div>
        </main>

        <%- include('./layouts/scripts') -%>
    </body>

    </html>