<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<link rel="stylesheet" href="/public/css/style.css" />
<%- include('./layouts/head') -%>
    </head>

    <body>
        <!--Main Navigation-->
        <header>
            <!-- Sidebar -->
            <%- include('./layouts/sidebar') -%>

                <!-- Navbar -->
                <%- include('./layouts/navbar') -%>
        </header>

        <!--Main layout-->
        <main style="margin-top: 70px ">
            <h1 class="mb-4" style="text-align: center;">Create Users</h1>
            <div class="container pt-2">
                <!--Section: Statistics with subtitles-->
                <section style="display: grid; justify-items: center;">
                    <form action="/user" onsubmit="return validateForm(event)" method="post" autocomplete="off" style="width: 29vw">
                        <div class="mb-3">
                            <div class="form-outline">
                                <input type="text" name="first-name" id="first-name" class="form-control form-control-lg" required />
                                <label class="form-label" for="first-name">First Name</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-outline">
                                <input type="text" name="middle-name" id="middle-name" class="form-control form-control-lg" />
                                <label class="form-label" for="middle-name">Middle Name</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-outline">
                                <input type="text" name="last-name" id="last-name" class="form-control form-control-lg" required />
                                <label class="form-label" for="last-name">Last Name</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-outline">
                                <input autocomplete="off" value="emmanuel@gmail.com" type="email" id="email" class="form-control form-control-lg" />
                                <label class="form-label" for="email">Email</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="form-outline">
                                <input type="password" value="secret" id="password" class="form-control form-control-lg" />
                                <label class="form-label" for="password">Password</label>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="visually-hidden" for="roles-dropdown">Preference</label>
                            <select class="custom-select" name="roles-dropdown" id="roles-dropdown" required>
                                <option value="">Select Role</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="visually-hidden" for="elections-dropdown">Preference</label>
                            <select class="custom-select" name="elections-dropdown" id="elections-dropdown" required>
                                <option value="">Select Election</option>
                            </select>
                        </div>

                        <!-- Submit button -->
                        <div class="mb-3">
                            <input type="submit" value="Add User" id="add-user-btn" class="btn btn-primary btn-block btn-lg mb-4" disable>
                        </div>
                    </form>
                </section>

                <section>
                    <h2 class="mb-4" style="text-align: center;">View Users</h2>
                    <select class="custom-select" id="elections-dropdown2">
                        <option value="">Select Election</option>
                    </select>

                    <table class="table responsive">
                        <thead>
                            <th>#</th>
                            <th scope="col">User</th>
                            <th scope="col">Action</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </section>
            </div>


        </main>

        <%- include('./layouts/scripts') -%>
            <script src="../public/js/user.js"></script>
    </body>

    </html>