<%- include('./layouts/head') -%>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/contestant.css" />
    </head>

    <body>
        <!--Main Navigation-->
        <header>
            <!-- Sidebar -->
            <%- include('./layouts/sidebar') -%>

                <!-- Navbar -->
                <%- include('./layouts/navbar') -%>
        </header>

        <!--Main layout-->
        <main style="margin-top: 70px ">
            <h1 class="mb-4" style="text-align: center;">Add Voters</h1>
            <div class="container pt-2">
                <!--Section: Statistics with subtitles-->
                <section style="display: grid; justify-items: center;">

                    <div class="col-md-4 mb-3">
                        <div class="form-outline">
                            <input type="text" id="first-name" class="form-control form-control-lg" />
                            <label class="form-label" for="first-name">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-outline">
                            <input type="text" id="middle-name" class="form-control form-control-lg" />
                            <label class="form-label" for="middle-name">Middle Name</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-outline">
                            <input type="text" id="last-name" class="form-control form-control-lg" />
                            <label class="form-label" for="last-name">Last Name</label>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="visually-hidden" for="elections-dropdown">Preference</label>
                        <select class="custom-select" id="elections-dropdown">
                            <option value="">Select Election</option>
                        </select>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="visually-hidden" for="positions-dropdown">Preference</label>
                        <select class="custom-select" id="positions-dropdown">
                            <option value="">Select Position</option>
                        </select>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="visually-hidden" for="parties-dropdown">Preference</label>
                        <select class="custom-select" id="parties-dropdown">
                            <option value="">Select Party</option>
                        </select>
                    </div>

                    <!-- Upload file -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label" for="voter-img">Upload voter's photo</label>
                        <input type="file" name="img" accept="image/*" class="form-control form-control-lg mb-3" id="voter-img" />
                    </div>

                    <!-- <label class="form-label" for="voter-img-preview">Voter's photo preview</label> -->
                    <div id="preview-section" class="col-md-4 mb-3">
                        <img id="img-preview" src="">
                        <h5 id="preview-text">PREVIEW</h5>
                    </div>
                    <!-- Submit button -->
                    <div class="col-md-4 mb-3">
                        <button id="add-voter-btn" class="btn btn-primary btn-block btn-lg mb-4">Add Voter</button>
                    </div>
                </section>
            </div>
        </main>

        <%- include('./layouts/scripts') -%>
            <script src="../public/js/voter-registration.js"></script>
    </body>

    </html>