<%- include('./layouts/head') -%>
    <link rel="stylesheet" href="/public/css/style.css" />
    </head>

    <body>
        <!--Main Navigation-->
        <header>
            <!-- Sidebar -->
            <%- include('./layouts/sidebar') -%>

                <!-- Navbar -->
                <%- include('./layouts/navbar') -%>
        </header>

        <!--Main layout-->
        <main style="margin-top: 70px ">
            <h1 class="mb-4" style="text-align: center;">Voters Registration</h1>
            <div class="container pt-2">
                <!--Section: Statistics with subtitles-->
                <section style="display: grid; justify-items: center;">

                    <!-- <form> -->
                    <div class="col-md-4 mb-3">
                        <div class="form-outline">
                            <input type="text" id="form3Example1" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Example1">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-outline">
                            <input type="text" id="form3Example2" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Example2">Middle Name</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-outline">
                            <input type="text" id="form3Example2" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Example2">Last Name</label>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
                        <select class="custom-select" id="elections-dropdown">
                                <option value="">Select Election</option>
                            </select>
                    </div>
                    <!-- </div> -->

                    <!-- Upload file -->
                    <div class="col-md-4 mb-3">
                        <label class="form-label" for="customFile">Upload your photo</label>
                        <input type="file" name="img" accept="image/*" class="form-control form-control-lg mb-3" id="customFile" />
                    </div>

                    <!-- Submit button -->
                    <div class="col-4 mb-3">
                        <button type="submit" class="btn btn-primary btn-block btn-lg mb-4">Register</button>
                    </div>
                    <!-- </form> -->
                </section>
            </div>
        </main>

        <%- include('./layouts/scripts') -%>
            <script src="../public/js/voter-registration.js"></script>
    </body>

    </html>